*{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    text-decoration:none;
    list-style:none;
}

body{
    height:100%;
}

.bg-color{
    background-color:#dce4e3;
}

.green{
    background-color:#18c29c;
}

.light-green{
    background-color:#8ed7c6;
}

.light-grey{
    color:#dce4e3;
}

.text-default{
    color:#084236;
}

.sidebar{
    min-height:100vh;
    max-height:100%;
    width:36px;
    padding:0px 8px;
}

.ul-list a{
    display:flex;
    border-radius:10px;
    align-items:baseline;
    margin-bottom:10px;
}

.ul-list a:first-child{
    margin: 0 1px;
}

.ul-list i{
    display:flex;
    justify-content:center;
    padding:10px;
    /* margin: auto 0 0 0; */
}

.ul-list li{
    margin-left:6px;
}

.ul-list a:hover{
    background-color:#8ed7c6;
}

.ul-list a:hover:first-child{
    background-color:transparent;
}

.none{
    display:none!important;
    transition:0.5s;
}

.block{
    display:block!important;
    transition: width 0.5s;
} 

.menu{
    display:flex;
    align-items:baseline;
    justify-content:space-between;
    margin-bottom:5px;
}

.fa-bars{
    cursor:pointer;
}

.animation{
    transition:0.5s;
}